NUXT_TLV2_PROXY_BASE_DEFAULT=https://your-api.example.com

NUXT_AUTH0_AUDIENCE=https://your-audience.example.com
NUXT_AUTH0_CLIENT_ID=your-auth0-client-id
NUXT_AUTH0_CLIENT_SECRET=your-auth0-client-secret
NUXT_AUTH0_DOMAIN=your-tenant.auth0.com
NUXT_AUTH0_SESSION_SECRET=a-random-string-at-least-32-chars-long
NUXT_AUTH0_APP_BASE_URL=http://localhost:3000
